# Database connection string
DATABASE_URI=mongodb://127.0.0.1/your-database-name

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="YOUR_NAME_HERE"
NEXT_PUBLIC_CLOUDINARY_API_KEY=000000000000
CLOUDINARY_API_SECRET="YOUR_SECRET_HERE"

#Dictionary
DICTIONARY_API=https://YOUR_API_PATH_HERE

# Convex
NEXT_PUBLIC_CONVEX_URL=https://YOUR_URL_HERE
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=ENV:YOUR_CODE_HERE 